.createBtnContainer {
    position: fixed;
    left: 90%;
    top: 12%;
}

.createBtnEmpty {
    margin-top: 2em;
    text-align: center;
}

.createBtnContainer button {
    min-width: 125px;
}

.active {
    color: black;
    text-decoration: none;
}

.pending {
    color: black;
    text-decoration: none;
}