.map {
    /* width: 25vw;
    height: 40vh; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; */
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.registrationStatus {
    text-align: center;
}

.description {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.images {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailsContainer {
    margin: auto;
    margin-top: 5em;
    width: 90%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    gap: 3em;
    padding: 1em;
    border-radius: 2em;
}

.players {
    display: flex;
    flex-basis: 20%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.modalStyles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 25vw;
    max-width: 30vw;
    max-height: 55vh;
    background-color: 'background.paper';
    border: '2px solid #000';
    box-shadow: 24;
    overflow-y: scroll;
}

.additionalHeader {
    margin-top: 3em;
}

.additionalSection {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 2em;
    border: 1px solid black;
}

.gameComments {
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.noCommentsAvailable {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}