.description {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.streetDetails {
    font-weight: bold;
    font-style: oblique;
    color: #1976d2;
    cursor: pointer;
}

.mapModalStyles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 25vw;
    max-width: 30vw;
    max-height: 55vh;
    background-color: 'background.paper';
    border: '2px solid #000';
    box-shadow: 24;
}

.map {
    width: 50vw;
    height: 70vh;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; */
}

.registrationStatus {
    text-align: center;
}
