.StepsContaier {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.Stepper {
    width: 80%;
    display: flex;
    justify-content: space-around;

}

.completeEventContainer {
    width: 80%;
    margin: auto;
    margin-top: 2em;
}