
.login-form {
    padding: 2em;
    margin: 0;
    font: 16px/1.5 Helvetica, sans-serif;
    display: flex; 
    align-items: center;
    width: 20vw;
    margin: 7em auto;
    box-shadow: 0px 0px 2px 2px rgba(119, 126, 126, 0.2); 
    border-radius: 0.5em;
}

.css-k4qjio-MuiFormHelperText-root {
    margin-left: 0 !important;
}
.login-form h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    margin-top: 1em;
    font-weight: 600;
    color:  rgb(119, 126, 126);
}

.login-form :nth-child(4) {
    margin-top: 10px;
}


